.header {
  height: 400px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameTag {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-bottom: 10px;
  }
  .nameTag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-top: 10px;
  }
}